@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../GoogleFonts/Monteserrat/Ubuntu-Light.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: left;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
    width: 262px;
    border-radius: 2px 2px 0 0;
  }

div {
  border: 1px solid rgb(215, 207, 207);
  border-top: none;
  width: 250px;
  font-family: "Montserrat";
  color: rgb(37, 36, 36);
  padding-left: 10px;
}
